@import '~bootstrap/scss/bootstrap';

* {
  box-sizing: border-box;  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #f6f6f6; 
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #363636;
  margin: 0;
  padding: 0;
}


/* buttons */

button {
  border: 0;
  font-weight: 700;
  border-radius: 4px;
  background-color: transparent;
  color: #FFFFFF;
}

.orangebutton {
  background-color: #F89939;
  padding: 10px 20px;
}

.button-small {
  padding: 7px 15px;
}


/* header */

.alignheader {
  background-color: #2F384E;
}

.header{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  padding: 12px 0;
}

/* logo */

.hajimedit {
  font-family: Rubik;
  font-weight: 500;
  font-size: 30px;

  &, &:hover {
    text-decoration: none;
    color: #FFFFFF;
  }
}

.header .gohan {
  width: 43px;
  margin-right: 5px;
}


.mainbody {
  margin: 40px auto;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;

  & .sidebarmain {
    flex: 1;
  }

  & .post-body {
    width: 70%;
  }
}



/* posts */

.post-body {
}


.postmain {
  display: flex;
}


/* sidebar */



.gradiantbg {
  background: -webkit-linear-gradient(top left, rgba(71,124,255,1) 0%, rgba(157,54,255,1) 80%);
  background: -o-linear-gradient(top left, rgba(71,124,255,1) 0%, rgba(157,54,255,1) 80%);
  background: linear-gradient(to bottom right, rgba(71,124,255,1) 0%, rgba(157,54,255,1) 80%);
}

.sidebarfirst {
  display: flex;
  border-radius: 4px;
  color: #FFFFFF;
  padding: 40px 20px;
  font-weight: 700;

  & h2 {
    font-family: Rubik, Helvetica, Arial, sans-serif;
    font-size: 24px;
  }

  & .infoforfirst {
    width: 70%;
  }

  & .logo {
    flex: 1;
    text-align: center;
  }

  & button {
    margin-top: 10px;
  }
}

.sidebarinfo {
  border: 1px solid #CACACA;
  border-radius: 4px;
  background-color: #FFFFFF;
  margin-top: 15px;
}

/* single post view */
.postmaincomment {
  display: flex;
}



.titlelogin {
}

.button-small {
}

.button-medium {
}


.auth {
}

.whitecolorbutton {
}
.up:active {
}

.secondtitle{
}

.infoforsecond {
}

ol {
    style-type: decimal;
    style-position: inside;

    li {
    }

    li:not(:last-child) {
      border-bottom: 1px solid #979797;
    }
  }
.about-link {
}

.modal {
}

.mainsignin {
}
.mainsignup {
}


.sidebarsignin {
}

.sidebarchangepassword {
}

.sidebarsignup {
}

.modal-content {

}

.modal-body {

}
.modal-title {
}

.sidebarsecond {
}
.info-content {
}
.votebuttons {
}



.posts {
  .singlePost & {
  }
}

.comments {

}

.comment {

}


.unauth {

}
.sign-up-body {
}

.create-post-body {

}

.commentinput {
}

.post-body {

}

.post-modal-body {
}

@media(max-width: 991px) {
  .post-modal-body {
  }
}

.votenumber {
  .singlePost & {
  }
}


.posttitle {
}

.voting {

  .singlePost & {
  }
}

.votingcomment {

}

.commentvotes {
}


.downvote {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-top: 10px solid #477CFF;
}

.upvote {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-bottom: 10px solid #F89939;
}

.voteup {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-bottom: 10px solid white;

    .singlePost & {
      border-bottom: 10px solid black;
    }
}
.comment {

}

.buttoninfo {


}

.votedown {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-top: 10px solid white;

  .singlePost & {
    border-top: 10px solid black;
  }
}

.arrowrect {
}

.postedinfo {
}

.postinfo{
}


.commenttext {
  word-break: break-all;
}

textarea {
}





// Drop down

.navbar {
}

.navbar a {
}

.dropdown {
}

.dropdown {
}

.dropdown-content {
}

.dropdown-content a {
}


.dropdown-content a:hover {
}

.dropdown:hover .dropdown-content {

}
.modal-backdrop {
  opacity: .5;
}

.modalBackground {
  background-color: black;
}
